img {
border: 1px gray solid;
box-shadow: 5px 5px 5px gray;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background-image: url('../images/M1.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}

.buttons {
	text-align: right;
	margin: 0 8px;
	padding: 0 10px;
}

.title {
	max-width: 70%;
	padding-left: 180px;
	text-align: left;
}

.portfolio {
	padding-left: 30px;
	padding-right: 30px;
	width: 90%;
}

.about {
	/*border: .5px solid gray;
	box-shadow: 5px 5px 5px gray;*/
	width: 85%;
	margin: 5px auto;
	padding: 15px;
}

.project {
	/*border: .5px solid gray;
	box-shadow: 5px 5px 5px gray;*/
	width: 80%;
	margin: 5px auto;
	padding: 15px;
}
.color {
/*background-color: #deeff5;*/
/*background-color: #8A9E82;*/
/*background-color: #D8EDB5;*/
background-color: rgba(216,237,181, .5)
}

.white {
	background-color: white;
}
