img {
border: 1px gray solid;
box-shadow: 5px 5px 5px gray;
}

.jumbotron {
	background-image: url('../images/M1.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}

.buttons {
	text-align: right;
	margin: 0 8px;
	padding: 0 10px;
}

.btn {

}



.title {
	max-width: 70%;
	padding-left: 160px;
}

.portfolio {
	padding-left: 30px;
	padding-right: 30px;
	width: 90%;
}

.about {
	/*border: .5px solid gray;
	box-shadow: 5px 5px 5px gray;*/
	width: 85%;
	margin: 5px auto;
	padding: 15px;
}

.color {
/*background-color: #deeff5;*/
/*background-color: #8A9E82;*/
background-color: darkseagreen;
}

.white {
	background-color: white;
}
